@use './partials/variables' as *;
@import "~bootstrap/scss/bootstrap";
body {
    background-image: url("../img/picsum16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


// HEADER 

header{
  background-color: $base-color;
    width: 80%;
    height: 100px;
    @include align-justify-center;
    img{
      height: 70px;
    } 
  }

nav{
    @include align-center;
    height: 100%;
    margin-bottom: 0;
  }
  
.nav-list{
    height: 100%;
    @include align-center;
    gap: 1em;
    list-style: none;
    margin-bottom: 0;
  }

  
  .nav-item{
    height: 100%;
    @include align-center;
    padding: .5em;
    font-size: 12px;
    margin-bottom: 0;
    &:hover{
      border-bottom: 3px solid $brand-color;
      cursor: pointer;
    }
    &:active{
      background-color: lightgray;
    }

    
    a{
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    }
  }

  // MAIN/HOME
  main{
    background-color: rgba(28,28,28,255);
  }

  .jumbotron{
    height: 350px;
    background-image: url(../img/jumbotron.jpg);
  }
  .products{
    margin-inline: auto;
    width: 80%;
    position: relative;
    @include align-center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    padding-top: 2em;
    padding-bottom: 10em;

  
  .upperBtn{
    @include brand-color-btn;
    font-size: 1.2em;
    position: absolute;
    top: -30px;
    left: 0;
  }
  .lowerBtn{
    width: 180px;
    @include brand-color-btn;
    position: absolute;
    bottom: 10px;
  }
  }

  .card{
    height: 150px;
    width: 150px;
    margin-top: 4em;
    img{
        max-height: 100%;
        aspect-ratio: 1/1;
        box-shadow: 5px 10px rgb(36, 36, 36);
    } 
    h6{
        margin-top: 1em;
        color: $base-color;
    }
}



//   FOOTER

.container-infos{
    position: relative;
    background-color: $brand-color;
    height: 150px;
    @include align-center;
    .infos{
      display: flex;
      gap: 2em;
      width: 70%;
      margin-inline: auto;
    }
  }
  
  .info {
    @include align-center;
    gap: 1em;
    color: $base-color;
    white-space: nowrap;
    
    img{
      height: 70px;
    }
  
    .special{
      height: 50px;
    }
  
  }
  
  .container-specs{
    background-image: url(../img/footer-bg.jpg);
    height: 350px;
    padding: 3em;
    display: flex;
    
    .container{
      width: 80%;
      margin-inline: auto;
      display: flex;
      justify-content: space-between;
    }
    
    .specs{
      width: 30%;
      display: flex;
      ul{
        list-style: none;
        color: $base-color;
        margin-right: 1em;
        
        li{
          font-size: .6em;
          cursor: pointer;
          color: rgb(167, 161, 161);
          margin-top: .5em;
          &:hover{
            text-decoration: underline;
          }
        }
  
        .subtitle{
            color: $base-color;
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: .5em;
          }
      }
    } 
  }
  
  
  .dc-logo{
    width: 50%;
    height: 100%;
    @include align-center;
    
    img{
      width: 450px;
      overflow: hidden;
    }
  }
  
  .socials{
    position: relative;
    height: 130px;
    background-color: $brand-color-dark;
    
    .container{
      width: 70%;
      height: 100%;
      @include align-justify-center;
        button{
        padding: 1em;
        border: 2px solid $brand-color;
        background-color: $brand-color-dark;
        color: $base-color;
        height: 60px;
        cursor: pointer;
        &:active{
          background-color: grey;
        }
      }
  
        .platforms{
        @include align-center;
        gap: 1em;
        color: $brand-color;
      }
    }
  }